

input {
  width: 100%;
  color: grey;
  font-size: 1.3em;
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 2px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 10px 10px 0;
}

.card p {
  text-align: center;
  font-size: 0.8em;
  padding: 5px;
  vertical-align: bottom;
}

.card img {
  max-height: 160px;
  width: 100%;
  margin: 0;
}